{% extends 'base.html.twig' %}


{% block titre %}
{{ titre }} | {{ parent() }}
{% endblock %}


{% block main %}
<h1>{{ titre }}</h1>
<p>

    

</p>
<img src="https://dummyimage.com/600x600/ccc/444" alt="">
{% endblock %}